body{
    background-color: rgb(255, 255, 255);
}
h1{
position: relative;
left: 450;

}
.Div1{
    position: relative;
    width: 100%;
}
.line1{
    height: 2;
    background-color: black;
    position: relative;
    width: 100%;
}
.line2{
    height: 2;
    background-color: black;
    position: relative;
    width: 100%;
}
.TheProof{
width: 400;
height: 450;
    position: relative;
}
.img1{
    position: relative;
    width: 300;
    height: 300;
}
.img2{
    position: relative;
    width: 300;
    height: 300;
}
.img3{
    left: 300;bottom: 600;
    position: relative;
    width: 300;
    height: 300;
}
.img4{ bottom: 600; left: 300;
    position: relative;
    width: 300;
    height: 300;
}
h2{position: relative;
left: 250;}
.Websites{position: relative;
width: 600;
left: 650;
bottom: 450;
}
.Acounts{position: relative;
left: 650;
width: 600;
bottom: 450;}
.info{position: relative;
bottom: 330;}
h4{position: relative;
left:550;
font-size: 20;
}
.Dox{position: relative;
width: 200;
text-align: left;}
.AnthonyPfp{position: relative;
width: 150;
height: 150;
left: 510;
top: 20;}
